<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empresa-heading" data-cy="EmpresaCreateUpdateHeading" jhiTranslate="nextLevelApp.empresa.home.createOrEditLabel">
        Create or edit a Empresa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nextLevelApp.empresa.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nextLevelApp.empresa.regiao" for="field_regiao">Regiao</label>
          <input type="text" class="form-control" name="regiao" id="field_regiao" data-cy="regiao" formControlName="regiao" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nextLevelApp.empresa.nicho" for="field_nicho">Nicho</label>
          <input type="text" class="form-control" name="nicho" id="field_nicho" data-cy="nicho" formControlName="nicho" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nextLevelApp.empresa.site" for="field_site">Site</label>
          <input type="text" class="form-control" name="site" id="field_site" data-cy="site" formControlName="site" />
          <div *ngIf="editForm.get('site')!.invalid && (editForm.get('site')!.dirty || editForm.get('site')!.touched)"></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nextLevelApp.empresa.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="nextLevelApp.empresa.influenciador" for="field_influenciadors">Influenciador</label>
          <select
            class="form-control"
            id="field_influenciadors"
            data-cy="influenciador"
            multiple
            name="influenciadors"
            formControlName="influenciadors"
          >
            <option
              [ngValue]="getSelectedInfluenciador(influenciadorOption, editForm.get('influenciadors')!.value)"
              *ngFor="let influenciadorOption of influenciadorsSharedCollection; trackBy: trackInfluenciadorById"
            >
              {{ influenciadorOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
