<div>
  <h2 id="page-heading" data-cy="InfluenciadorHeading">
    <span jhiTranslate="nextLevelApp.influenciador.home.title">Influenciadors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nextLevelApp.influenciador.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-influenciador"
        [routerLink]="['/influenciador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nextLevelApp.influenciador.home.createLabel"> Create a new Influenciador </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="influenciadors?.length === 0">
    <span jhiTranslate="nextLevelApp.influenciador.home.notFound">No influenciadors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="influenciadors && influenciadors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="nextLevelApp.influenciador.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="nextLevelApp.influenciador.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="regiao">
            <span jhiTranslate="nextLevelApp.influenciador.regiao">Regiao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bio">
            <span jhiTranslate="nextLevelApp.influenciador.bio">Bio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="redes">
            <span jhiTranslate="nextLevelApp.influenciador.redes">Redes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="nextLevelApp.influenciador.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let influenciador of influenciadors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/influenciador', influenciador.id, 'view']">{{ influenciador.id }}</a>
          </td>
          <td>{{ influenciador.nome }}</td>
          <td>{{ influenciador.email }}</td>
          <td>{{ influenciador.regiao }}</td>
          <td>{{ influenciador.bio }}</td>
          <td>{{ influenciador.redes }}</td>
          <td>
            {{ influenciador.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/influenciador', influenciador.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/influenciador', influenciador.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(influenciador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="influenciadors && influenciadors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
